.cart {
  background: $light !important;
  color: $dark !important;
  transition: 0.3s ease all !important;
  margin-right: 0.8rem;
  margin-left: 0.8rem;

  &:hover {
    background: $dark !important;
    color: $light !important;
  }
}
.cart-span {
  color: $primary;
  font-weight: 600;
  font-size: 1rem;
}
