
$Poppins: "Poppins", sans-serif;

// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #ff9f29;
$bg: rgb(244, 244, 255);
$red: rgb(244, 16, 16);

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//border-radius
$borderRadius: 12px;

//header height
$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    //768px
    @media (min-width: 48em) {
      @content;
    }
  }
}
