.contact {
  background: $light;
  display: grid;
  place-items: center;
  padding: 4rem;
  margin-top: 3.25rem;

  & > h2 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 500;
    cursor: pointer;
    margin-right: 1rem;
  }
  & > form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    & > input {
      width: 18.75rem;
      height: 2.8rem;
      font-size: 1.25rem;
      padding-left: 0.625rem;
      margin-bottom: 1.25rem;
      border-radius: 0.3125rem;
      border: 1px solid black;
    }
  }
  &_button {
    height: 4rem;
    width: 19.2rem;
    font-size: large;
    color: $light;
    background: $dark;
    border-radius: 1.5rem;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-top: 1.5rem;

    &:hover {
      background: $primary;
    }
  }
}
