.login {
  display: grid;
  place-items: center;
  margin-top: 2rem;
  padding-top: 1.25rem;
  background: $light;

  & > h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2.5rem;
  }

  & > form {
    display: flex;
    flex-direction: column;

    .login-required {
      color: $red;
      position: absolute;
      top: 39.3%;
    }
    .login-required-one {
      color: $red;
      position: absolute;
      top: 50.5%;
    }

    & > .input-wrapper {
      & > input {
        width: 18.75rem;
        height: 3.125rem;
        font-size: 1.25rem;
        padding-left: 0.625rem;
        margin-bottom: 2rem;
        border-radius: 0.3125rem;
        border: 1px solid $dark;
      }
    }

    & > a {
      cursor: pointer;
      font-weight: 500;
      position: absolute;
      top: 53%;
    }
  }

  &-button {
    height: 4rem;
    width: 19.2rem;
    font-size: large;
    color: $light;
    background: $dark;
    margin-top: 2rem;
    border-radius: 1.5rem;
    border: 1px solid lightgray;
    cursor: pointer;

    &:hover {
      border-color: $primary;
      background: $primary;
    }
  }
}
