.login {
  display: grid;
  place-items: center;
  margin: 1.875rem auto 0 5.625rem;
  padding-top: 1.25rem;
  background: $light;

  & > h2 {
    text-align: center;
    font-size: 2rem;
    margin-right: 7.5rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2.5rem;
  }

  & > form {
    display: flex;
    flex-direction: column;

    & > p {
      color: $red;
      position: relative;
      bottom: 1rem;
      right: 47%;
    }

    & > .input-wrapper {
      & > input {
        width: 18.75rem;
        height: 3.125rem;
        font-size: 1.25rem;
        padding-left: 0.625rem;
        margin-bottom: 1.5rem;
        margin-left: -6.5rem;
        border-radius: 0.3125rem;
        border: 1px solid $dark;
      }
    }

    & > a {
      position: relative;
      top: -0.625rem;
      right: 6.25rem;
      cursor: pointer;
      color: $dark;
      font-weight: 400;
    }
  }

  &-button {
    height: 3.4375rem;
    width: 20rem;
    font-size: large;
    color: $light;
    background: $dark;
    border-radius: 1.5rem;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-left: -6.9rem;
    position: relative;
    bottom: -1.25rem;

    &:hover {
      border-color: $primary;
      background: $primary;
    }
  }
}
